.FooterMenuContainer {
    background-color: #3cc3b5;
}

.OuterList {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 980px;
    margin: 0 auto;
    padding: 0 0 15px;
    color: #ffffff;
}
.InnerItem {
    width: 25%;
}